anyio==3.5.0
click==7.1.2
dnspython==2.2.1
fastapi==0.75.0
h11==0.11.0
idna==3.3
Jinja2==2.11.2
MarkupSafe==1.1.1
pydantic==1.9.0
pymongo==4.0.2
python-dotenv==0.15.0
PyYAML==5.3.1
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.1.1
uvicorn==0.12.2
watchgod==0.6
